*.swp
*~
.*.haste_cache.*
.DS_Store
.secrets
npm-debug.log
yarn-error.log

node_modules/
coverage/
.nyc_output
packages/codemirror-graphql
packages/monaco-graphql
packages/graphql-language-service
packages/graphql-language-service-*
packages/**/dist/.gitignore
packages/**/dist/.npmignore
packages/graphiql/storybook
packages/graphiql/typedoc
esm
bundle
cypress/screenshots
node_modules/
npm-debug.log
lerna-debug.log
**/tsconfig.tsbuildinfo
**/*.tsbuildinfo

.yarnrc
yarn-1.18.0.js
*.orig
