# If you use direnv, this will install the circleci tool locally for you.
mkdir -p .bin
PATH_add .bin
local destdir="$(expand_path .bin)"
if ! [ -x "$destdir/circleci" ]; then
  curl -fLSs \
    https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | \
    DESTDIR="$destdir" bash
fi
